Source: ros-melodic-turtlesim-dash-tutorial
Section: misc
Priority: optional
Maintainer: Siddhartha Banerjee <banerjs.sid@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-actionlib, ros-melodic-catkin, ros-melodic-rospy, ros-melodic-turtle-actionlib, ros-melodic-turtlesim
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-turtlesim-dash-tutorial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib, ros-melodic-rospy, ros-melodic-turtle-actionlib, ros-melodic-turtlesim
Description: The turtlesim_dash_tutorial package
